body {
  background: transparent url(https://en1rnkpr0125001.blob.core.windows.net/media/Grosvenor/images/sidegames/Background/gc-game-background-1280x800-Blackjack-Realistic.png) 0 0 no-repeat;
  position: relative;
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #09eaf3;
  border-radius: 20px;
  box-shadow: inset 0 0 10px #888888;
  position: absolute;
  top: 40em;
}

menu li {
  color: black;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
}

menu li:hover {
  cursor: pointer;
  background-color: #465b6d;
  color: #e1e6ec;
}

#player {
  position: absolute;
  top: 19em;
  left: 28em;
}

#dealer {
  position: absolute;
  top: 5em;
  left: 28em;
}

#pSplit {
  position: absolute;
  top: 19em;
  left: 47em;
  color:white;
}

#scoreTable {
  color: #EBEE32;
  font-family: 'Romanesco', cursive;
  position: fixed;
  top: 3em;
  font-size: 40pt;
  text-align: center;
}

#sScoreTable {
  color: #EBEE32;
  font-family: 'Romanesco', cursive;
  position: fixed;
  top: 3em;
  left: 20em;
  font-size: 40pt;
  text-align: center;
}

#bal {
  padding: 1.5em;
  color: white;
  top: 29.3em;
  left: 28em;
  position: absolute;
  font-size: 14pt;
  text-align: center;
  background: rgba(43,183,164,0.8);
  background-size: contain;
  border-radius: 15%;
}

#onechip {
  position: absolute;
  top: 36.9em;
  left: 1.3em;
  width: 30px;
  height:30px;
  border-radius: 50%;
  border: 8px solid rgba(41,41,41,.75);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 1.7em;
}

#fivechip {
  position: absolute;
  top: 36.6em;
  left: 4.5em;
  width: 33px;
  height:33px;
  border-radius: 50%;
  border: 8px solid rgba(125, 5, 5, 0.75);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 1.9em;
}


#tfivechip {
  position: absolute;
  top: 36.3em;
  left: 8em;
  width: 38px;
  height:38px;
  border-radius: 50%;
  border: 8px solid rgba(13, 78, 9, 0.85);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 2.3em;
  font-weignt: bold;
}

#hundchip {
  position: absolute;
  top: 36em;
  left: 12em;
  width: 41px;
  height:41px;
  border-radius: 50%;
  border: 8px solid rgba(42, 12, 115, 0.85);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 2.6em;
  font-weignt: bold;
}

#fhundchip {
  position: absolute;
  top: 35.8em;
  left: 16em;
  width: 45px;
  height:45px;
  border-radius: 50%;
  border: 8px solid rgba(94, 115, 12, 0.84);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 2.8em;
  font-weignt: bold;
}

.chips:hover {
  cursor: pointer;
  color: black;
}

#results {
  color: white;
  position: fixed;
  left: 8em;
  top: 4em;
  font-size: 42pt;
}

/*@media screen and (max-width: 1040px) , screen and (max-height: 670px) {
body {
  position: relative;
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #09eaf3;
  border-radius: 20px;
  box-shadow: inset 0 0 10px #888888;
  position: absolute;
  top: 38em;
  left: 22em;
  display: flex;
  flex-direction: row;
}

#player {
  position: absolute;
  top: 20em;
  left: 22em;
}

#dealer {
  position: absolute;
  top: 6em;
  left: 22em;
}

#pSplit {
  position: absolute;
  top: 20em;
  left: 37em;
}

#scoreTable {
  color: #EBEE32;
  font-family: 'Romanesco', cursive;
  position: absolute;
  top: 4em;
  font-size: 40pt;
  text-align: center;
}

.chips {
  position: absolute;
}

#bal {
  position: absolute;
  top: 23.5em;
  left: 24em;
}

#sScoreTable {
  color: #EBEE32;
  font-family: 'Romanesco', cursive;
  position: absolute;
  top: 4em;
  left: 16em;
  font-size: 40pt;
  text-align: center;
}

#results {
  color: white;
  position: fixed;
  left: 6em;
  top: 4em;
  font-size: 42pt;
}
};
*/






