/*h1 {
  font-family: 'Romanesco', cursive;
  text-align: center;
  font-size: 40pt;
  color: white;
}*/

body {
  background: transparent url(https://en1rnkpr0125001.blob.core.windows.net/media/Grosvenor/images/sidegames/Background/gc-game-background-1280x800-Blackjack-Realistic.png) 0 0 no-repeat;
}

menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #09eaf3;
  border-radius: 20px;
  box-shadow: inset 0 0 10px #888888;
  position: fixed;
  bottom: 1em;
  left: 29em;
}

menu li {
  color: black;
  display: inline-block;
  text-align: center;
  padding: 14px 16px;
}

menu li:hover {
  cursor: pointer;
  background-color: #465b6d;
  color: #e1e6ec;
}

#player {
  position: fixed;
  bottom: 15em;
  left: 30em;
}

#dealer {
  position: fixed;
  top: 8em;
  left: 30em;
}

#pSplit {
  position: fixed;
  bottom: 15em;
  left: 52em;
  color:white;
}

#scoreTable {
  color: #EBEE32;
  font-family: 'Romanesco', cursive;
  position: fixed;
  top: 3em;
  font-size: 40pt;
  text-align: center;
}

#bal {
  color: white;
  top: 29em;
  left: 31em;
  position: fixed;
  font-size: 14pt;
  text-align: center;
}

#onechip {
  position: fixed;
  top: 35em;
  width: 30px;
  height:30px;
  border-radius: 50%;
  border: 8px solid rgba(41,41,41,.75);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 1.7em;
}

#fivechip {
  position: fixed;
  top: 36.5em;
  left: 4em;
  width: 33px;
  height:33px;
  border-radius: 50%;
  border: 8px solid rgba(125, 5, 5, 0.75);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 1.9em;
}


#tfivechip {
  position: fixed;
  top: 38em;
  left: 8em;
  width: 38px;
  height:38px;
  border-radius: 50%;
  border: 8px solid rgba(13, 78, 9, 0.85);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 2.3em;
  font-weignt: bold;
}

#hundchip {
  position: fixed;
  top: 32em;
  left: 4em;
  width: 41px;
  height:41px;
  border-radius: 50%;
  border: 8px solid rgba(42, 12, 115, 0.85);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 2.6em;
  font-weignt: bold;
}

#fhundchip {
  position: fixed;
  top: 33.5em;
  left: 8em;
  width: 45px;
  height:45px;
  border-radius: 50%;
  border: 8px solid rgba(94, 115, 12, 0.84);
  overflow:hidden;
  background: #e6ebf1;
  box-shadow: 0 0 3px gray;
  text-align: center;
  line-height: 2.8em;
  font-weignt: bold;
}

.chips:hover {
  cursor: pointer;
  background-color: #465b6d;
  color: black;
}

#results {
  color: white;
  position: fixed;
  left: 8em;
  top: 4em;
  font-size: 42pt;
}



